{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body class="d-flex flex-column min-vh-100 bg-dark bg-gradient text-white">
<!-- //--------------------------- nav bar ------------------------------// -->
<nav class="navbar navbar-dark bg-dark align-items-center p-2 mb-4">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'logo.png' %}" alt="Logo" width="180" height="45"
                 class="d-flex align-text-top">
        </a>
        <ul class="nav justify-content-center align-items-center">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'brand-list' %}"><h5>Brands</h5></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'perfume-list' %}"><h5>Perfumes</h5></a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user-list' %}"><h5>Users</h5></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'offer-list' %}"><h5>Swap offers</h5></a>
                </li>
            {% endif %}
        </ul>
        <ul class="nav justify-content-end align-items-center">
            {% if user.is_authenticated %}
                <li>
                    <a class="nav-link text-white" href="{% url 'userperfume-list' user.id %}">
                        <h5>{{ user.username }}</h5>
                    </a>
                </li>
                <li>
                <a class="nav-link" href="{% url 'user-logout' %}">
                    <button class="btn btn-danger">Logout</button>
                </a>
                </li>

            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user-login' %}">
                        <button class="btn btn-success">Login</button>
                    </a>
                </li>
            {% endif %}
        </ul>
</nav>
<!-- //--------------------------- nav bar end --------------------------// -->

<div class="container">
    <!-- //--------------------------- page content -------------------------// -->
    {% block content %} {% endblock content %}
    <!-- //--------------------------- page content end ---------------------// -->
</div>

<!-- //--------------------------- footer -------------------------------// -->
<footer class="text-center text-lg-start bg-dark text-secondary mt-auto">

    <div class="text-center p-2">
        created by
        <a class="text-reset fw-bold" href="https://github.com/saradonin">saradonin</a>
    </div>

</footer>
<!-- //--------------------------- footer end ---------------------------// -->
</body>
</html>