{% extends '__base__.html' %}
{% block content %}

    <table class="table table-dark table-striped">
        <tr>
            <td>
                From:
            </td>
            <td>
                {{ sender.username }}
            </td>
        </tr>
        <tr>
            <td>
                To:
            </td>
            <td>
                {{ original_message.sender.username }}
            </td>
        </tr>
        <tr>
            <td>
                Subject:
            </td>
            <td>
                {{ title }}
            </td>
        </tr>
        <tr>
            <td>
                Original message:
            </td>
            <td>
                {{ original_message.content }}
            </td>
        </tr>

    </table>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_table }}
        <input class="btn btn-success" type="submit" value="Send response">
    </form>


{% endblock content %}