{% extends '__base__.html' %}
{% block content %}

    <table class="table table-dark table-striped">
            <tr>
            <td>
                From:
            </td>
            <td>
                {{ sender.username }}
            </td>
        </tr>
        <tr>
            <td>
                To:
            </td>
            <td>
                {{ receiver.username }}
            </td>
        </tr>

    </table>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_table }}
        <input class="btn btn-success" type="submit" value="Send message">
    </form>


{% endblock content %}