{% extends '__base__.html' %}
{% block content %}


    <table class="table table-dark table-striped">
        <thead>
        <tr>
        {% if page_obj %}
            <th>From:</th>
            <th>To:</th>
            <th>Subject:</th>
            <th>Timestamp:</th>
            <th>Status:</th>
            <th>Actions:</th>
        </tr>
        </thead>
        {%  endif %}

        <tbody>
        {% for message in page_obj %}
            <tr>

                <td>{{ message.sender }}</td>
                <td>{{ message.receiver }}</td>
                <td>{{ message.title }}</td>
                <td>{{ message.timestamp|date:"Y-m-d H:i:s" }}</td>
                <td>{{ message.is_read|yesno:"read,NEW" }}</td>

                <td>
                    <a href="">
                        <button type="button" class="btn btn-outline-secondary">Details</button>
                    </a>
                </td>
            </tr>
            {% empty %}
            No messages received.
        {% endfor %}
        </tbody>
    </table>

    <!-- //--------------------------- pagination links ------------------------------// -->
    {% include 'pagination_links.html' %}
    {% block pagination %}{% endblock pagination %}
    <!-- //--------------------------- pagination links end---------------------------// -->



{% endblock content %}
