{% extends '__base__.html' %}
{% block content %}


    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th colspan="4">Your conversation with <h4>{{ other_user }}</h4></th>
        </tr>

        </thead>

        <tbody>

        {% for message in message_history %}
            <tr>
                {% if message.sender == user %}
                    <td>{{ message.sender }}</td>
                    <td>{{ message.timestamp|date:"Y-m-d | H:i:s" }}</td>
                    <td colspan="3" class="text-end">{{ message.content }}</td>
                {% else %}
                    <td>{{ message.sender }}</td>
                    <td>{{ message.timestamp|date:"Y-m-d | H:i:s" }}</td>
                    <td colspan="3" class="text-start">{{ message.content }}</td>
                {% endif %}
            </tr>
        {% endfor %}

        </tbody>
    </table>


    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_table }}
        <input class="btn btn-success" type="submit" value="Send message">
    </form>


{% endblock content %}
