{% extends '__base__.html' %}
{% block content %}


    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th colspan="4"><h4>{{ other_user }}</h4></th>
        </tr>

        </thead>

        <tbody>
        <tr>
            <td colspan="5">Message history:</td>

        </tr>
        {% for message in message_history %}
            <tr>
                <td>{{ message.sender }}</td>
                <td>{{ message.timestamp|date:"Y-m-d | H:i:s" }}</td>
                <td colspan="3">{{ message.content }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>


    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_table }}
        <input class="btn btn-success" type="submit" value="Send message">
    </form>


{% endblock content %}
