{% extends '__base__.html' %}
{% block content %}
    <h2>Notes</h2>


    <figure class="text-start shadow p-3 mb-5 bg-dark">
        <blockquote class="blockquote">
            <p class="lead text-light">Notes in perfumery are descriptors of scents that can be sensed upon the application of a perfume.
                Notes are separated into three classes: top/head notes, middle/heart notes, and base/soul notes;
                which denote groups of scents which can be sensed with respect to the time after the application of a perfume.
                These notes are created with knowledge of the evaporation process and intended use of the perfume. </p>
        </blockquote>
        <figcaption class="blockquote-footer"><cite title="Source Title">Wikipedia</cite></figcaption>
    </figure>

    {% if perms.scent_app.add_note %}
        <a href="{% url 'note-add' %}">
            <button type="button" class="btn btn-success m-2">Add note</button>
        </a>
    {% endif %}

    {% for letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
        <h5 class="mb-2">{{ letter }}</h5>
        <p>
            {% for note in object_list %}
                {% if note.name.0 == letter %}
                    {{ note.name }}{% if not forloop.last %}, {% endif %}
                {% endif %}

            {% endfor %}
        </p>
    {% endfor %}


{% endblock content %}