{% extends '__base__.html' %}
{% block content %}


<div class="container-sm border border-dark shadow mb-3 p-4 " style="width: 480px">

    <h4 class="text-center m-2">{{ offer.offering_perfume.name }}</h4>
    <p class="text-center m-2">exchange for</p>
    <h4 class="text-center m-2">{{ offer.requested_perfume.name }}</h4>
    <div class="row align-items-start">


        <form action="" method="POST">
            {% csrf_token %}

            <p class="text-center mb-4">
                Are you sure you want to close this offer?</p>

            <div class="form-group row justify-content-between m-2">
                <div class="col-auto">
                    <button class="btn btn-danger" type="submit" name="confirm" value="Yes">
                        CLOSE
                    </button>

                </div>
                <div class="col-auto">
                    <button class="btn btn-secondary" type="submit" name="confirm" value='No'>
                        CANCEL
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>

{% endblock content %}