{% extends '__base__.html' %}
{% block content %}
    <h2>Perfumers</h2>


    <figure class="text-start shadow p-3 mb-5 bg-dark">
        <blockquote class="blockquote">
            <p class="lead text-light">A perfumer is an expert on creating perfume compositions, sometimes referred to affectionately as a nose
                due to their fine sense of smell and skill in producing olfactory compositions.
                The perfumer is effectively an artist who is trained in depth on the concepts of fragrance aesthetics
                and who is capable of conveying abstract concepts and moods with compositions.</p>
        </blockquote>
        <figcaption class="blockquote-footer"><cite title="Source Title">Wikipedia</cite></figcaption>
    </figure>


    {% if perms.scent_app.add_perfumer %}
        <a href="{% url 'perfumer-add' %}">
            <button type="button" class="btn btn-success m-2">Add perfumer</button>
        </a>
    {% endif %}

    {% for letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
        <h5 class="mb-2">{{ letter }}</h5>
        <p>
            {% for perfumer in object_list %}
                {% if perfumer.last_name.0 == letter %}
                    {{ perfumer.name }}{% if not forloop.last %}, {% endif %}
                {% endif %}

            {% endfor %}
        </p>
    {% endfor %}


{% endblock content %}
