{% extends '__base__.html' %}
{% block content %}


    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th><h4>Name:</h4></th>
            <th><h4>{{ perfume.name }}</h4></th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>Brand:</td>
            <td>{{ perfume.brand }}</td>
        </tr>
        <tr>
            <td>Concentration:</td>
            <td>{{ perfume.concentration }}</td>
        </tr>
        <tr>
            <td>Release year:</td>
            <td>{{ perfume.year }}</td>
        </tr>
        <tr>
            <td>Perfumer:</td>
            <td>
                {% for perfumer in perfume.perfumer.all %}
                    {{ perfumer.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>Top notes:</td>
            <td>
                {% for note in perfume.top_notes.all %}
                    {{ note.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>Middle notes:</td>
            <td>
                {% for note in perfume.middle_notes.all %}
                    {{ note.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>Base notes:</td>
            <td>
                {% for note in perfume.base_notes.all %}
                    {{ note.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
        </tr>

        </tbody>
    </table>

    <a href="{% url 'perfume-update' perfume.id %}">
        <button type="button" class="btn btn-outline-secondary">Edit</button>
    </a>



{% endblock content %}
