{% extends '__base__.html' %}
{% block content %}

    <!-- //--------------------------- profile-menu ------------------------------// -->
    {% include 'user_profile_menu.html' %}
    {% block profile-menu %}{% endblock profile-menu %}
    <!-- //--------------------------- profile-menu end---------------------------// -->


    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th>Brand:</th>
            <th>Name:</th>
            <th>Concentration:</th>
            <th>Year:</th>
            <th>Volume:</th>
            <th>Status:</th>
            <th>To exchange:</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        {% for userperfume in page_obj %}
            <tr>
                <td>{{ userperfume.perfume.brand }}</td>
                <td>{{ userperfume.perfume.name }}</td>
                <td>{{ userperfume.perfume.concentration }}</td>
                <td>{{ userperfume.perfume.year }}</td>
                {% if userperfume.volume %}
                    <td>{{ userperfume.volume }} ml</td>
                {% else %}
                    <td>N/D</td>
                {% endif %}
                <td>{{ userperfume.status }}</td>
                <td>{{ userperfume.to_exchange|yesno:"Yes,No" }}</td>
                <td>
                    {% if user == userperfume.user %}
                        <a href="{% url 'perfume-details' userperfume.perfume.id %}">
                            <button type="button" class="btn btn-outline-secondary">Details</button>
                        </a>

                        <a href="{% url 'userperfume-update' userperfume.id %}">
                            <button type="button" class="btn btn-outline-secondary">Edit</button>
                        </a>

                        <a href="{% url 'userperfume-delete' userperfume.id %}">
                            <button type="button" class="btn btn-outline-danger">Delete</button>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- //--------------------------- pagination links ------------------------------// -->
    {% include 'pagination_links.html' %}
    {% block pagination %}{% endblock pagination %}
    <!-- //--------------------------- pagination links end---------------------------// -->




{% endblock content %}
