    <nav class="navbar navbar-dark bg-dark p-2 mb-4">

        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link text-white" href=""><h4>{{ user.username }}</h4></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-info" href="{% url 'userperfume-list' user.id %}">Collection</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-info" href="{% url 'offer-list-by-user' user.id %}">Offers</a>
            </li>
            {% if user == current_user %}
            <li class="nav-item">
                <a class="nav-link text-info" href="{% url 'message-list' %}">Messages</a>
            </li>
            {% endif %}
        </ul>

    </nav>