{% extends '__base__.html' %}
{% block content %}


<div class="container-sm border border-dark shadow mb-3 p-4 " style="width: 360px">

    <div class="form-group row justify-content-start m-2">

        <form action="" method="POST">
            {% csrf_token %}

            {{ form.as_p }}
 
    </div>
    
    <div class="form-group row justify-content-center m-2">
        <div class="row">
            <input class="btn btn-success mt-4 mb-4" type="submit" value="Login">
        </div>
        <div class="row">
            <a class="btn btn-outline-primary mb-4" href="{% url 'user-add' %}">
                Create new account
            </a>
        </div>
    </div>

    </form>

</div>
</div>




{% endblock content %}